In [21]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

df = pd.read_csv(r"C:\Users\anton\Downloads\crap_dupliacates.csv")
df

,Unnamed: 0,Client ID,Client tenure year,Client tenure month,Client age,Gender,Number of accounts,Balance,Calls in the last 6 months,Log ons in the last 6 months,Variation,confirm,start,step_1,step_2,step_3,visit_duration
0,0,836976,6.0,73.0,60.0,U,2.0,45105.30,6.0,9.0,Test,3,5,1,1,1,0 days 00:29:45
1,1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Control,1,2,1,1,1,0 days 00:04:55
2,2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Test,0,2,1,1,1,0 days 00:01:57
3,3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test,0,1,0,0,0,0 days 00:00:00
4,4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control,0,1,0,0,0,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50482,50482,1780858,21.0,262.0,68.0,M,3.0,372100.59,6.0,9.0,Test,2,7,1,1,1,0 days 00:10:32
50483,50483,6967120,21.0,260.0,68.0,M,3.0,4279873.38,6.0,9.0,Control,1,1,1,1,1,0 days 00:03:19
50484,50484,5826160,20.0,249.0,56.0,F,2.0,44837.16,2.0,5.0,Test,6,1,1,1,1,0 days 00:09:24
50485,50485,8739285,19.0,229.0,70.0,F,2.0,44994.24,1.0,4.0,Test,1,1,1,1,1,0 days 00:11:32
50486,50486,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,0,3,1,1,1,0 days 00:21:01

In [22]:
df['visit_duration'] = pd.to_timedelta(df['visit_duration'])

df['visit_duration'] = df['visit_duration'].dt.total_seconds()

df = df[df["visit_duration"] != 0]

In [23]:
condition_1 = df["Variation"] == "Test"
condition_2 = df["Variation"] == "Control"
test_= df[condition_1]["visit_duration"]
control_ = df[condition_2]["visit_duration"]

#h0: avg test = avg control
#h1: avg test != avg control

stats.ttest_ind(test_, control_)

#p>alpha, so we reject null hypothesis

TtestResult(statistic=3.848951645501032, pvalue=0.00011879304539917155, df=43717.0)

In [24]:
df.sort_values("Client ID")

,Unnamed: 0,Client ID,Client tenure year,Client tenure month,Client age,Gender,Number of accounts,Balance,Calls in the last 6 months,Log ons in the last 6 months,Variation,confirm,start,step_1,step_2,step_3,visit_duration
40117,40117,555,3.0,46.0,30.0,U,2.0,25454.66,2.0,6.0,Test,1,1,1,1,1,158.0
1532,1532,647,12.0,151.0,58.0,M,2.0,30525.80,0.0,4.0,Test,1,1,1,1,1,377.0
13138,13138,934,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,Test,0,4,0,0,0,142.0
47507,47507,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control,0,1,5,2,1,538.0
44724,44724,1186,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,Control,0,2,1,1,0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,17626,9999150,5.0,66.0,30.0,U,3.0,97141.71,6.0,9.0,Test,0,2,1,0,0,18.0
30530,30530,9999400,7.0,86.0,28.0,U,2.0,51787.04,0.0,3.0,Test,1,1,1,1,1,119.0
3228,3228,9999626,9.0,113.0,35.0,M,2.0,36642.88,6.0,9.0,Test,0,1,1,0,0,8.0
48744,48744,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,Test,1,4,3,2,1,15.0
8010,8010,9999832,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,Test,0,1,1,0,0,8.0

In [25]:
df["visit_duration"] = round(df["visit_duration"] / 60).astype(int)
df

C:\Users\anton\AppData\Local\Temp\ipykernel_20372\931187138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["visit_duration"] = round(df["visit_duration"] / 60).astype(int)

,Unnamed: 0,Client ID,Client tenure year,Client tenure month,Client age,Gender,Number of accounts,Balance,Calls in the last 6 months,Log ons in the last 6 months,Variation,confirm,start,step_1,step_2,step_3,visit_duration
0,0,836976,6.0,73.0,60.0,U,2.0,45105.30,6.0,9.0,Test,3,5,1,1,1,30
1,1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Control,1,2,1,1,1,5
2,2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Test,0,2,1,1,1,2
5,5,3727881,5.0,71.0,30.0,U,2.0,23915.60,0.0,3.0,Control,1,1,1,2,2,6
6,6,272934,5.0,66.0,58.0,U,2.0,27021.42,2.0,5.0,Control,1,1,1,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50482,50482,1780858,21.0,262.0,68.0,M,3.0,372100.59,6.0,9.0,Test,2,7,1,1,1,11
50483,50483,6967120,21.0,260.0,68.0,M,3.0,4279873.38,6.0,9.0,Control,1,1,1,1,1,3
50484,50484,5826160,20.0,249.0,56.0,F,2.0,44837.16,2.0,5.0,Test,6,1,1,1,1,9
50485,50485,8739285,19.0,229.0,70.0,F,2.0,44994.24,1.0,4.0,Test,1,1,1,1,1,12
50486,50486,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,0,3,1,1,1,21

In [28]:
df.to_csv(r"C:\Users\anton\Downloads\drandorTTT.csv")